{{#if buy_button}}
	<button type='submit' class='button-buy {{#if lg}} lg {{/if}}'>Buy now: <strong>{{price}}$</strong></button>
{{/if}}

{{#if form_button}}
	<button type="submit" class='button-buy {{#if lg}} lg {{/if}}'>{{text}}</button>
{{/if}}

