.info-box {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 16px;
}

.info-box:first-child {
	color: #343A40;
}

.info-box:last-child {
	color: black;
}

.lg {
	grid-column: span 2;
}

