@use '../../lib/service.scss' as s;

@use '../../component/product/style.scss' as productStyle;
@use '../../component/button/style.scss' as buttonStyle;

h1 {
	color: var(--Blue, #0050FF);
	font-size: 40px;
	font-weight: 500;
}

header {
	display: flex;
	flex-direction: column;
	gap: s.space(5);
}
.products-list {

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: s.space(5);
	row-gap: s.space(8);
}

