@use '../../lib/service.scss' as s;

body {
	font-family: 'Roboto', sans-serif;
	background-color: #121212;
	color: #FFFEFE;
	min-height: 100%;
}

.page {
	padding: 100px;
	display: flex;
	justify-content: center;
	padding: s.space(9);
	min-height: 100%;
}

.page-content {
	max-width: 720px;
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;

	flex-direction: column;
	gap: s.space(15);
}

