@use '../../lib/service.scss' as s;

body {
	font-family: 'Roboto', sans-serif;
}

.page {
	padding: 100px;
	display: flex;
	justify-content: center;
}

.page-content {
	max-width: 1000px;
	width: 100%;
	display: flex;

	flex-direction: column;
	gap: s.space(8);
}

